.nav-box {
    padding: 10px;
    text-transform: uppercase;
    background-color: #F2D16B;
    border: 5px solid #F7931D;
    font-weight: bolder;
    font-size: 20px;
    padding-left: 30px;
}

.brand-title {
    font-family: "Sail";
    text-transform: none;
    font-size: 40px;
}
