.back-button {
  padding: 4px 12px 4px 12px;
  background-color: #E2CA76;
  border: 4px solid #F7931D;
}

.movie-poster img {
  width: 100%;
  height: auto;
}

.title-elm {
  font-weight: bolder;
  text-decoration: underline;  
}


.movie-close {
  border: 4px solid blue;
  background-color: #88E7FF;
  color: darkblue;
  width: 100%;
  padding: 10px;
  font-size: 27px;
}

