$primary: #F2D16B;

@import '~bootstrap/scss/bootstrap.scss';

body {
    font-family: quicksand;
    background: url("water-background.jpg");
    background-attachment: fixed;
    font-size: larger;
}